/* variables */
:root {
  --col-black: #000000;
  --col-grey: #5c5c5c;

  --secondary-text-cl: #ffffff;
  --mw-text-cl: #5c5c5c;
  --other-text-cl: #00000066;
  --label-text-cl: rgba(17, 17, 17, 0.7);
  --pl-holder-cl: rgba(17, 17, 17, 0.4);
  --input-border-cl: #d7d7d7;
  --input-invalid-cl: #e74a3b;
  --input-valid-cl: #3cbc81;
  --def-btn-send-cl: rgba(232, 111, 84, 0.4);
  --act-btn-send-cl: #e86f54;

  --col-white: #ffffff;
  --col-pink: #e86f54;
  --col-pink-h: #e25b41;
  --col-pink-f: #fa6f54;
  --col-red: #e74a3b;
  --col-green: #3cbc81;
  --r-gap: 48px;
  --c-gap: 24px;
  --items: 3;
  /* --gap: 24px; */
  --pad-header-top: 24px;
  --pad-header-btm: 24px;
  --trans-hv: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* reset start */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: calc(24 / 20);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* reset end */

.index-h2 {
  /* font-weight: 700; */
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--col-navy-blue);
}
.index-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--col-navy-blue);
}

/* container */
.container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* flex-column */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--r-gap);
  column-gap: var(--c-gap);
  /* flex-basis: calc((100% - var(--c-gap) * (var(--items) - 1)) / var(--items)); */
}
/* for sections */
.section {
  padding: 96px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0px;
  }
}

/* header styles */
.header {
  position: absolute;
  top: 28px;
  z-index: 100;

  width: 100%;
  /* --shift-from-x: 0;
  --shift-to-x: 0;
  animation: move-vertical 1000ms ease-out 1000ms both; */
}
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* hero section */
.hero {
  position: relative;
  min-width: 320px;
  max-width: 480px;
  height: 505px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 948px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    /* max-width: 1280px; */
    max-width: 100%;
    height: 978px;
  }
}
.hero-container {
  position: relative;
  z-index: 10;
  height: 100%;
  margin: 0 auto;
  padding: 76px 11px 0 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* column-gap: 160px; */
  column-gap: calc(100vw - 160px);
}
@media screen and (min-width: 480px) {
  .hero-container {
    column-gap: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding: 24px 19px 0 73px;
    column-gap: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 24px 169px 0 234px;
    column-gap: 610px;
  }
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 120px;
    line-height: calc(146 / 120);
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 160px;
    line-height: calc(195 / 160);
    --shift-to-y: -355px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
}

.hero-title::after {
  display: none;
  content: "";
  position: absolute;
  top: 20px;
  right: 21px;

  width: 58px;
  height: 8px;
  background-color: currentColor;
}
@media screen and (min-width: 1280px) {
  .hero-title::after {
    display: block;
  }
}

.hero-badge {
  width: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
}
@media screen and (min-width: 768px) {
  .hero-badge {
    width: 76px;
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}
@media screen and (min-width: 1280px) {
  .hero-badge {
    width: 102px;
    font-size: 32px;
    line-height: calc(39 / 32);
    --shift-from-x: 0;
    --shift-to-x: -90px;
    --shift-to-y: 170px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
}

/* hero button */
@media screen and (min-width: 1280px) {
  .hero-btn {
    --shift-from-x: 0;
    --shift-to-x: 25px;
    --shift-to-y: 170px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
}
.hero-btn-icon {
  width: 76px;
  height: 76px;
}
@media screen and (min-width: 768px) {
  .hero-btn-icon {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-btn-icon {
    width: 166px;
    height: 166px;
  }
}
/* adaptive button icons */
.hero-btn-icon-mob {
  display: block;
}
@media screen and (min-width: 768px) {
  .hero-btn-icon-mob {
    display: none;
  }
}
.hero-btn-icon-tab,
.hero-btn-icon-desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-btn-icon-tab {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .hero-btn-icon-desk {
    display: block;
  }
  .hero-btn-icon-tab {
    display: none;
  }
}
/* button animation */
.hero-btn-txt {
  transform-origin: center;
  animation: infinity-rotate 30s linear 250ms infinite;
}
@media screen and (min-width: 1280px) {
  .hero-btn-txt {
    animation: infinity-rotate 30s linear 4s infinite;
  }
}
.hero-btn:hover [class="hero-btn-txt"],
.hero-btn:focus [class="hero-btn-txt"] {
  animation-play-state: paused;
}

.hero-btn-arrow {
  transform-origin: center;
  transition: transform 500ms ease-out;
}
.hero-btn:hover [class="hero-btn-arrow"],
.hero-btn:focus [class="hero-btn-arrow"] {
  transform: rotate(-122deg);
}
/* hero img */
.hero-shape {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  width: 145px;
  height: 274px;
}
@media screen and (min-width: 768px) {
  .hero-shape {
    width: 390px;
    height: 636px;
    top: 119px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-shape {
    top: 0;
    /* width: 1280px; */
    width: 100%;
    height: 878px;
    animation: scale-up-center 1000ms ease-out 1000ms both;
  }
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* blog*/
.blog {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .blog {
    padding-bottom: 100px;
  }
}
.flex-blog {
  margin-top: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .flex-blog {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.title-blog {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
}

.blog-list {
  margin-top: 60px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .blog-list {
    gap: 32px;
  }
}

.arrow-list {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .arrow-list {
    gap: 30px;
  }
}

.blog-item {
  flex-basis: calc((100% - 1 * 16px) / 2);
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .blog-item {
    flex-basis: calc((100% - 1 * 32px) / 2);
    margin-right: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .blog-item {
    flex-basis: calc((100% - 2 * 32px) / 3);
    margin-right: 31px;
  }
}

.img-blog {
  object-fit: cover;
  object-position: center;
  min-width: 100%;
}

.arrow-btn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  padding: 0%;
}
@media screen and (min-width: 768px) {
  .arrow-btn {
    width: 61px;
    height: 61px;
  }
}
.text-blog {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .text-blog {
    font-size: 32px;
    line-height: calc(39 / 32);
  }
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 24px;
  width: 170px;
  height: 40px;
  background-color: #e86f54;
  border-radius: 38px;
  border: none;

  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: calc(24 / 18);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .subscribe-btn {
    margin-top: 32px;
    width: 280px;
    height: 64px;
    font-size: 28px;
    line-height: calc(24 / 28);
  }
}

.is-hiden {
}
@media screen and (max-width: 1279px) {
  .is-hiden {
    display: none;
  }
}

.slider {
  display: none;
}
@media screen and (min-width: 1280px) {
  .slider {
    display: inherit;
  }
}
/* .pic-size{
  width: 390px;
} */
.my-slick-prev {
  position: absolute;
  margin-right: 10px;
  right: 50%;
  bottom: -30%;
  width: 30px;
  height: 30px;
}
.my-slick-next {
  position: absolute;
  margin-left: 10px;
  left: 50%;
  bottom: -30%;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .my-slick-prev {
    position: absolute;
    margin-right: 10px;
    right: 50%;
    bottom: -20%;
    width: 60px;
    height: 60px;
  }
  .my-slick-next {
    position: absolute;
    margin-left: 10px;
    left: 50%;
    bottom: -20%;
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .my-slick-prev {
    position: absolute;
    margin-right: 10px;
    right: 50%;
    bottom: -20%;
    width: 60px;
    height: 60px;
  }
  .my-slick-next {
    position: absolute;
    margin-left: 10px;
    left: 50%;
    bottom: -20%;
    width: 60px;
    height: 60px;
  }
}
/* .display{
  display: none;
}
@media screen and (min-width: 1280px){
  .display{
    display: initial;
  }
} */

/* footer */

.footer {
  background-color: var(--col-navy-blue);
  padding: 96px 0px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .flex-footer {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .flex-footer {
    column-gap: 0;
    flex-wrap: nowrap;
  }
}
/* text */
.footer-text {
  width: 268px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text {
    /* margin-right: 120px; */
    margin-right: calc((100% - 925px) * 0.6);
  }
}
.footer-logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--col-iris);
  display: block;
  margin-bottom: 16px;
}

.footer-logo-right {
  color: var(--col-cloud);
}

.footer-p {
  color: var(--col-cornflower);
  line-height: calc(24 / 16);
}
/* social */

@media screen and (min-width: 1200px) {
  .footer-social {
    /* margin-right: 80px; */
    margin-right: calc((100% - 925px) * 0.4);
  }
}
.footer-social-ul {
  column-gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-p {
  font-weight: 500;
  color: var(--col-white);
  text-align: center;
  line-height: calc(24 / 16);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-logo-left {
    text-align: left;
  }
  .footer-social-p {
    text-align: left;
  }
}
.footer-social-links {
  background-color: var(--col-background-footer);
  transition: background-color var(--trans-hv);
}
.footer-social-links:focus,
.footer-social-links:hover {
  background-color: var(--col-green);
}
.footer-social-icon {
  width: 24px;
  height: 24px;
}
/* Subscribe form */

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
  }
}

.subscribe-input-mail {
  display: block;
  background-color: var(--col-navy-blue);
  border: 1px solid var(--col-border-footer);
  box-shadow: 0px 4px 4px var(--col-btn-shadow);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  color: var(--col-white);
  width: calc(100vw - 30px);
  max-width: 396px;
  height: 40px;
  transition: border var(--trans-hv);
}

.subscribe-input-mail:focus,
.subscribe-input-mail:focus-visible {
  border: 1px solid var(--col-iris);
}
.subscribe-input-mail::placeholder {
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: var(--col-mail-footer);
}
@media screen and (min-width: 768px) {
  .subscribe-input-mail {
    width: 264px;
  }
}
.subscribe-btn {
  width: 165px;
  background-color: var(--col-iris);
  color: var(--col-white);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  cursor: pointer;
  transition: background-color var(--trans-hv);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--col-ocean);
}
.subscribe-btn-icon {
  fill: currentColor;
}
/* modal */
.backdrop-modal {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;

  transition: opacity var(--trans-hv), visibility var(--trans-hv);
}
.backdrop-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-send {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 48px);
  z-index: 30;
  max-width: 432px;
  min-width: 272px;
  max-height: 357px;
  padding: 28px 16px;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: transform var(--trans-hv);
}
.modal-send.is-hidden {
  transform: translatey(50%);
}
@media screen and (min-width: 768px) {
  .modal-send {
    width: 100%;
    padding: 48px 32px;
    max-height: 511px;
    max-width: 480px;
  }
}

.modal-send-btn {
  position: absolute;
  display: block;
  top: 19px;
  right: 19px;
  cursor: pointer;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modal-send-btn {
    top: 28px;
    right: 28px;
    width: 16px;
    height: 16px;
  }
}

.modal-send-icon-close {
  width: 100%;
  height: 100%;
}

.modal-send-title {
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
}
@media screen and (min-width: 768px) {
  .modal-send-title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: calc(39 / 32);
  }
}
.modal-send-text {
  color: var(--mw-text-cl);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
}
@media screen and (min-width: 768px) {
  .modal-send-text {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
.modal-send-form {
  padding-top: 38px;
  --input-height: 35px;
}
@media screen and (min-width: 768px) {
  .modal-send-form {
    padding-top: 57px;
    --input-height: 49px;
  }
}
.modal-send-form-group {
  position: relative;
  --label-cl: var(--label-text-cl);
}
.modal-send-form-group-user {
  margin-bottom: var(--input-height);
}
.modal-send-form-group-mail {
  margin-bottom: calc(var(--input-height) - 11px);
}
.modal-send-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.modal-send-icon-invalid,
.modal-send-icon-valid {
  display: none;
}

.modal-send-input {
  display: block;
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  height: var(--input-height);
  border-radius: 4px;
  border: 1px solid var(--input-border-cl);
  outline: transparent;
  transition: border var(--trans-hv);
  padding: 10px 32px 10px 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
}
.modal-send-input:placeholder-shown ~ .modal-send-form-label {
  color: var(--label-text-cl);
}
.modal-send-input:focus:placeholder-shown,
.modal-send-input:focus-visible:placeholder-shown {
  border: 1px solid var(--label-text-cl);
}
@media screen and (min-width: 768px) {
  .modal-send-input {
    max-width: 416px;
    padding: 16px 36px 16px 16px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.modal-send-input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
}
@media screen and (min-width: 768px) {
  .modal-send-input::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
.modal-send-input:not(:placeholder-shown):required:valid {
  border-color: var(--input-valid-cl);
}
.modal-send-input:not(:placeholder-shown):required:valid
  ~ .modal-send-form-label {
  color: var(--input-valid-cl);
}
.modal-send-input:not(:placeholder-shown):required:valid
  + .modal-send-icon
  > .modal-send-icon-valid {
  display: block;
}
.modal-send-input:not(:placeholder-shown):required:valid
  + .modal-send-icon
  > .modal-send-icon-invalid {
  display: none;
}
.modal-send-input:not(:placeholder-shown):required:invalid {
  border-color: var(--input-invalid-cl);
}
.modal-send-input:not(:placeholder-shown):required:invalid
  ~ .modal-send-form-label {
  color: var(--input-invalid-cl);
}
.modal-send-input:not(:placeholder-shown):required:invalid
  + .modal-send-icon
  > .modal-send-icon-invalid {
  display: block;
}
.modal-send-input:not(:placeholder-shown):required:invalid
  + .modal-send-icon
  > .modal-send-icon-valid {
  display: none;
}
.modal-send-form-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20px);
  color: var(--label-text-cl);
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
}
@media screen and (min-width: 768px) {
  .modal-send-form-label {
    transform: translateY(-25px);
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
.modal-send-subm-btn {
  display: block;
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  background-color: var(--act-btn-send-cl);
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  height: 37px;
  line-height: calc(17 / 14);
  color: var(--col-white);
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  /* transition: background-color var(--trans-hv); */
}
.modal-send-subm-btn:disabled {
  background-color: var(--def-btn-send-cl);
}
@media screen and (min-width: 768px) {
  .modal-send-subm-btn {
    max-width: 416px;
    height: 50px;
    font-size: 18px;
    line-height: calc(22 / 18);
    padding: 14px 0;
    /* margin-bottom: 24px; */
  }
}
/* .modal-subm-btn:hover,
.modal-subm-btn:focus {
  background-color: var(--col-ocean);
} */

/* mobile menu */
.mobile-menu-btn {
  display: block;
  padding: 0;
  width: 30px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-icon {
  stroke: var(--col-black);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--col-white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--trans-hv);
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  /* row-gap: 40px; */
  row-gap: calc((100vh - 344px) * 0.09);
  /* padding-bottom: calc((100vh - 464px) * 0.85); */
  padding-bottom: calc((100vh - 344px) * 0.62);
}

.mobile-menu-link {
  text-align: left;
  font-weight: 700;
  text-decoration: none;
}
.mobile-contacts {
  /* row-gap: 40px; */
  row-gap: calc((100vh - 344px) * 0.09);
  padding-bottom: calc((100vh - 344px) * 0.11);
  /* padding-bottom: calc((100vh - 464px) * 0.15); */
}
.contacts-tel {
  color: var(--col-ocean);
}
.contacts-mail {
  text-decoration: none;
}
.mobile-menu-social-ul {
  column-gap: 56px;
}
@media screen and (max-width: 403px) {
  .mobile-menu-social-ul {
    column-gap: calc((100vw - 235px) / 3);
  }
}
.mobile-menu-social-links {
  background-color: var(--col-iris);
  transition: background-color var(--trans-hv);
}
.mobile-menu-social-links:focus,
.mobile-menu-social-links:hover {
  background-color: var(--col-ocean);
}

/* animations properties */
@keyframes scale-up-center {
  0% {
    clip-path: inset(150px 421px 92px 421px round 226px);
  }
  50% {
    clip-path: inset(150px 345px 92px 345px round 226px);
  }
  100% {
    clip-path: inset(0 round 0);
  }
}

@keyframes move-vertical {
  from {
    transform: translateX(var(--shift-from-x, -50%))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -50%))
      translateY(var(--shift-to-y, 0));
    color: var(--col-white);
    fill: var(--col-white);
  }
}

@keyframes infinity-rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
