/* variables */
:root {
  --col-black: #000000;
  --col-grey: #5c5c5c;
  --col-white: #ffffff;
  --col-pink: #e86f54;
  --col-pink-h: #e25b41;
  --col-pink-f: #fa6f54;
  --col-err: #e74a3b;
  --col-green: #3cbc81;
  --r-gap: 48px;
  --c-gap: 24px;
  --items: 3;
  /* --gap: 24px; */
  --pad-header-top: 24px;
  --pad-header-btm: 24px;
  --trans-hv: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* reset start */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: calc(24 / 20);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* reset end */

.index-h2 {
  /* font-weight: 700; */
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--col-navy-blue);
}
.index-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--col-navy-blue);
}

/* container */
.container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

/* flex-column */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--r-gap);
  column-gap: var(--c-gap);
  /* flex-basis: calc((100% - var(--c-gap) * (var(--items) - 1)) / var(--items)); */
}
/* for sections */
.section {
  padding: 96px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0px;
  }
}

/* header styles */
.header {
  position: absolute;
  top: 28px;
  z-index: 100;

  width: 100%;
  --shift-from-x: 0;
  --shift-to-x: 0;
  animation: move-vertical 1000ms ease-out 1000ms both;
}
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* hero section */
.hero {
  position: relative;

  max-width: 1280px;
  height: 878px;
  margin: 0 auto;
}
.hero-container {
  position: relative;
  z-index: 10;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 400;
  font-size: 160px;
  line-height: calc(195 / 160);
  --shift-to-y: -355px;
  animation: move-vertical 1000ms ease-out 1000ms both;
}
.hero-title::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 21px;

  width: 58px;
  height: 8px;
  background-color: currentColor;
}
.hero-badge {
  width: 102px;
  margin-left: 210px;
  font-size: 32px;
  line-height: calc(39 / 32);
  --shift-from-x: 0;
  --shift-to-x: -90px;
  --shift-to-y: 170px;
  animation: move-vertical 1000ms ease-out 1000ms both;
}
.hero-btn {
  margin-right: 145px;
  --shift-from-x: 0;
  --shift-to-x: 25px;
  --shift-to-y: 170px;
  animation: move-vertical 1000ms ease-out 1000ms both;
}
.hero-btn-icon {
  width: 166px;
  height: 166px;
}
.hero-btn-txt {
  transform-origin: center;
  animation: infinity-rotate 30s linear 4s infinite;
}
.hero-btn:hover [class="hero-btn-txt"],
.hero-btn:focus [class="hero-btn-txt"] {
  animation-play-state: paused;
}

.hero-btn-arrow {
  transform-origin: center;
  transition: transform 500ms ease-out;
}
.hero-btn:hover [class="hero-btn-arrow"],
.hero-btn:focus [class="hero-btn-arrow"] {
  transform: rotate(-122deg);
}
.hero-shape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 100%;

  animation: scale-up-center 1000ms ease-out 1000ms both;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* index section1 strategy*/

/* footer */

.footer {
  background-color: var(--col-navy-blue);
  padding: 96px 0px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .flex-footer {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .flex-footer {
    column-gap: 0;
    flex-wrap: nowrap;
  }
}
/* text */
.footer-text {
  width: 268px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text {
    /* margin-right: 120px; */
    margin-right: calc((100% - 925px) * 0.6);
  }
}
.footer-logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--col-iris);
  display: block;
  margin-bottom: 16px;
}

.footer-logo-right {
  color: var(--col-cloud);
}

.footer-p {
  color: var(--col-cornflower);
  line-height: calc(24 / 16);
}
/* social */

@media screen and (min-width: 1200px) {
  .footer-social {
    /* margin-right: 80px; */
    margin-right: calc((100% - 925px) * 0.4);
  }
}
.footer-social-ul {
  column-gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-p {
  font-weight: 500;
  color: var(--col-white);
  text-align: center;
  line-height: calc(24 / 16);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-logo-left {
    text-align: left;
  }
  .footer-social-p {
    text-align: left;
  }
}
.footer-social-links {
  background-color: var(--col-background-footer);
  transition: background-color var(--trans-hv);
}
.footer-social-links:focus,
.footer-social-links:hover {
  background-color: var(--col-green);
}
.footer-social-icon {
  width: 24px;
  height: 24px;
}
/* Subscribe form */

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
  }
}

.subscribe-input-mail {
  display: block;
  background-color: var(--col-navy-blue);
  border: 1px solid var(--col-border-footer);
  box-shadow: 0px 4px 4px var(--col-btn-shadow);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  color: var(--col-white);
  width: calc(100vw - 30px);
  max-width: 396px;
  height: 40px;
  transition: border var(--trans-hv);
}

.subscribe-input-mail:focus,
.subscribe-input-mail:focus-visible {
  border: 1px solid var(--col-iris);
}
.subscribe-input-mail::placeholder {
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: var(--col-mail-footer);
}
@media screen and (min-width: 768px) {
  .subscribe-input-mail {
    width: 264px;
  }
}
.subscribe-btn {
  width: 165px;
  background-color: var(--col-iris);
  color: var(--col-white);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  cursor: pointer;
  transition: background-color var(--trans-hv);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--col-ocean);
}
.subscribe-btn-icon {
  fill: currentColor;
}
/* modal */
.backdrop {
  background-color: var(--col-bg-backdrop);
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  transition: opacity var(--trans-hv), visibility var(--trans-hv);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 392px;
  min-width: 320px;
  min-height: 586px;
  padding: 72px 16px 24px 16px;

  transform: translate(-50%, -50%);

  background-color: var(--col-bg-modal);
  border-radius: 4px;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2); */

  transition: transform var(--trans-hv);
}
.modal.is-hidden {
  transform: translatey(50%);
}
@media screen and (min-width: 768px) {
  .modal {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 408px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--col-btn-shadow3);
  color: var(--col-black);
  transition: color var(--trans-hv), background-color var(--trans-hv);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--col-white);
  background-color: var(--col-ocean);
}
.modal-icon-close {
  fill: currentColor;
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: currentColor;
  pointer-events: none;
  transition: fill var(--trans-hv);
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--col-border-input);
  outline: transparent;
  transition: border var(--trans-hv);
  padding-left: 44px;
  padding-right: 44px;
}
.modal-input:focus,
.modal-input:focus-visible {
  border: 1px solid var(--col-iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--col-iris);
}
.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-textarea {
  display: block;
  height: 120px;
  width: 100%;
  max-width: 360px;
  margin-bottom: 18px;
  padding: 8px 16px;
  resize: none;
}
.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--col-text-placeholder);
}
.modal-form-agree {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* gap: 8px; */
  margin-bottom: 24px;
}
.modal-agree-check {
  appearance: none;
}
.modal-icon-check {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.modal-icon-check-check {
  opacity: 0;
  transition: opacity var(--trans-hv);
}
.modal-icon-check-def {
  fill: transparent;
  stroke: var(--col-black);
  opacity: 1;
  transition: opacity var(--trans-hv);
}
.modal-agree-check:checked + .modal-icon-check > .modal-icon-check-def {
  opacity: 0;
}

.modal-agree-check:checked + .modal-icon-check > .modal-icon-check-check {
  opacity: 1;
}

.modal-subm-btn {
  display: block;
  width: 170px;
  background-color: var(--col-iris);
  box-shadow: 0px 4px 4px var(--col-btn-shadow);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--col-white);
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color var(--trans-hv);
}
.modal-subm-btn:hover,
.modal-subm-btn:focus {
  background-color: var(--col-ocean);
}
.modal-agree-text {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  user-select: none;
}
.modal-agree-pr-policy {
  color: var(--col-iris);
}

/* mobile menu */
.mobile-menu-btn {
  display: block;
  padding: 0;
  width: 30px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-icon {
  stroke: var(--col-black);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--col-white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--trans-hv);
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  /* row-gap: 40px; */
  row-gap: calc((100vh - 344px) * 0.09);
  /* padding-bottom: calc((100vh - 464px) * 0.85); */
  padding-bottom: calc((100vh - 344px) * 0.62);
}

.mobile-menu-link {
  text-align: left;
  font-weight: 700;
  text-decoration: none;
}
.mobile-contacts {
  /* row-gap: 40px; */
  row-gap: calc((100vh - 344px) * 0.09);
  padding-bottom: calc((100vh - 344px) * 0.11);
  /* padding-bottom: calc((100vh - 464px) * 0.15); */
}
.contacts-tel {
  color: var(--col-ocean);
}
.contacts-mail {
  text-decoration: none;
}
.mobile-menu-social-ul {
  column-gap: 56px;
}
@media screen and (max-width: 403px) {
  .mobile-menu-social-ul {
    column-gap: calc((100vw - 235px) / 3);
  }
}
.mobile-menu-social-links {
  background-color: var(--col-iris);
  transition: background-color var(--trans-hv);
}
.mobile-menu-social-links:focus,
.mobile-menu-social-links:hover {
  background-color: var(--col-ocean);
}

/* animations properties */
@keyframes scale-up-center {
  0% {
    clip-path: inset(150px 421px 92px 421px round 226px);
  }
  50% {
    clip-path: inset(150px 345px 92px 345px round 226px);
  }
  100% {
    clip-path: inset(0 round 0);
  }
}

@keyframes move-vertical {
  from {
    transform: translateX(var(--shift-from-x, -50%))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -50%))
      translateY(var(--shift-to-y, 0));
    color: var(--col-white);
    fill: var(--col-white);
  }
}

@keyframes infinity-rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
